@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);


body{
	border: 20px solid #bdc3c7;
	margin: 20px auto;
	width: 80%;
	font-family: 'Source Sans Pro', sans-serif;
	max-width: 700px; /*keep width at 700 pixels when shrinking down if cannot maintain 80% width*/

}

div{
	margin: 20px;
}

.date{
	letter-spacing: 0.2rem; 
	color: #3498db;
	text-transform: uppercase;
	margin: 0 0;
}

.quote{
	border-left: 5px solid #bdc3c7;
	padding:5px;
}

hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}